{% if session.username %} {% extends "teachers_template.html" %} {% block title
%} Kurssini {% endblock %} {% block content %}

<h2>Kurssini:</h2>
<br />
{% if courses and courses|length > 0 %} {% for course in courses %}
<b>{{ course[1] }}</b>
<p>{{ course[2] }}</p>

<form
  action="{{ url_for('teacher_routes.edit_course', course_id=course[0]) }}"
  method="GET"
>
  <button type="submit">Muokkaa kurssin sisältöä</button>
</form>

<form
  action="{{ url_for('teacher_routes.confirm_delete_course', course_id=course[0]) }}"
  method="POST"
>
  <button type="submit">Poista kurssi</button>
</form>

<form
  action="{{ url_for('teacher_routes.grade_course', course_id=course[0]) }}"
  method="GET"
>
  <button type="submit">Arvioi kurssi</button>
</form>

<form
  action="{{ url_for('teacher_routes.delete_student', course_id=course[0]) }}"
  method="GET"
>
  <button type="submit">Poista oppilas kurssilta</button>
</form>

<div class="spacing"></div>
{% endfor %} {% else %}
<p>Ei vielä luotuja kursseja</p>
{% endif %}

<a href="{{ url_for('teacher_routes.teacher_front_page') }}">Takaisin</a>

{% endblock %} {% endif %}
