{% extends "html_template.html" %} {% block title %} Luo käyttäjä {%endblock %}
{%block content %}
<form action="/new_account" method="POST">
  Anna nimesi:
  <input type="text" name="username" />
  <br />

  Oletko opettaja vai oppilas?
  <p>
    <input type="radio" name="admin" value="True" /> opettaja
    <input type="radio" name="admin" value="False" /> oppilas
  </p>

  Luo salasana:
  <input type="password" name="salasana" required />
  <br />

  <input type="submit" value="Lähetä" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
{%endblock%}
