{% if session.username %} {% extends "teachers_template.html" %} {% block
title%} Luo kurssi {%endblock %} {%block content %}
<h2>Luo uusi kurssi:</h2>

<form action="/create_course" method="POST">
  <label>Kurssin nimi:</label>
  <input type="text" name="course_name" required />

  <label>Kurssin kuvaus:</label>
  <textarea name="course_description" required></textarea>

  <input type="submit" value="Luo kurssi" />

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
{%endblock%} {% endif %}
