{% if session.username %} {% extends "teachers_template.html" %} {% block title
%} Kurssinin poistaminen {%endblock %} {%block content %}

<h2>Haluatko varmasti poistaa kurssin? "{{ course_name }}"</h2>

<form
  action="{{url_for('teacher_routes.delete_course', course_id = course_id)}}"
  method="POST"
>
  <button type="submit">Kyllä, poista kurssi</button>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
<div class="spacing"></div>
<a href="{{ url_for('teacher_routes.courses_list_teachers') }}">Takaisin</a>
{%endblock%} {% endif %}
