{% if session.username %} {% extends "teachers_template.html" %} {% block title
%} Muokkaa kurssia {%endblock %} {%block content %}

<h2>Muokkaa kurssia:</h2>

<form
  method="POST"
  action="{{ url_for('teacher_routes.edit_course', course_id=course_id) }}"
>
  <label for="course_name">Kurssi:</label>
  <input
    type="text"
    id="course_name"
    name="course_name"
    value="{{ course_name }}"
  />

  <label for="course_description">Kurssin kuvaus:</label>
  <input
    type="text"
    id="course_description"
    name="course_description"
    value="{{ course_description }}"
  />

  <button type="submit">Tallenna muutokset</button>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>

<div class="spacing"></div>

<a href="{{ url_for('teacher_routes.courses_list_teachers') }}">Takaisin</a>

{%endblock%} {% endif %}
