{% extends "html_template.html" %} {% block title %} Etusivu {%endblock %}
{%block content %}
<h1>Etusivu</h1>
<b>Tervetuloa</b> <i>koulusovellukseen!</i>
<form action="/account" method="POST">
  <br />
  Onko sinulla jo käyttäjätunnus?
  <p>
    <input type="radio" name="onko_tunnusta" value="Kyllä" /> kyllä
    <input type="radio" name="onko_tunnusta" value="Ei" /> ei
  </p>
  <input type="submit" value="Lähetä" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
{% endblock %}
