{% if session.username %} {% extends "teachers_template.html" %} {% block title
%}Kurssin Arviointi{% endblock %} {% block content %}

<h2>Arvioi kurssi: "{{ course_name }}"</h2>

<table>
  <tr>
    <th>Opiskelija</th>
    <th>Arvosana</th>
  </tr>
  {% for student in students %}
  <tr>
    <td>{{ student.username }}</td>
    <td>
      {% if student.grade is not none %}
      <span>{{ student.grade }}</span>
      {% else %}
      <form
        action="{{ url_for('teacher_routes.save_grades', course_id=course_id) }}"
        method="POST"
      >
        <select name="grade" required>
          <option value="0">Hylätty</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input
          type="hidden"
          name="student_id"
          value="{{ student.student_id }}"
        />
        <button type="submit">Tallenna</button>
        <input
          type="hidden"
          name="csrf_token"
          value="{{ session.csrf_token }}"
        />
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %} {% endif %}
